server:
  port: 9003
spring:
  jpa:
    database: mysql
    show-sql: true
    generate-ddl: true
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.25.25:3306/tensquare_qa?useUnicode=true&characterEncoding=utf-8
    username: root
    password: root